<!doctype html>

<html>

<head>
  <!-- Required meta tags -->
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <script src="https://cdn.bootcss.com/popper.js/1.12.9/umd/popper.min.js"></script>
  <script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.min.js"></script>
  <link href="https://fonts.googleapis.com/css?family=Open+Sans|Poppins|Bowlby+One|Francois+One&display=swap"
    rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/main.css') }}">
  <link rel="shortcut icon" href="static/favicon.ico">
  <title>Seedbot - Calidad física de granos</title>
</head>

<body>
  <div class="title-header">
    <img class="page-icon" src="../static/images/corn_logo.png">

    <h1>SEEDBOT</h1>

    <div class="command-buttons">
      <!--div>
      <button type="button" class="btn-transparent btn-sm" id="btn-img-demo" enabled>Imagen demostrativa</button>
      </div-->

      <div>
        <!--form id="upload-file" action="/" method="POST" enctype="multipart/form-data"-->
        <form id="upload-file" method="POST" enctype="multipart/form-data">
          <!--label for="imageUpload" class="upload-label">
            Seleccionar imagen
            </label-->
          <!--label for="imageUpload" class="btn-primary btn-sm"-->

          <input type="file" name="file" id="imageUpload" accept=".png, .jpg, .jpeg" disabled />

          <label for="imageUpload">
            <div class="btn-text" disabled>Seleccionar Imagen</div>
          </label>

        </form>
      </div>

      <div class="slidercontainer">
        <input type="range" min="1" max="100" value="50" class="slider" id="slider-thr" disabled>
      </div>
      <div id="slider-val-div" style="width: 40px; color: var(--disabled-color); font-weight: 500; font-size: 0.76em;">
        <p id="slider-val"></p>
      </div>
      <div>
        <button type="button" class="btn-transparent" id="btn-thr" disabled>Ajustar umbral</button>
      </div>

      <div>
        <button type="button" class="btn-secondary btn-sm" id="btn-predict" disabled>Analizar</button>
      </div>

    </div>
  </div>

  <!--div class="image-section">
    <div class="image-wrapper" style="display:none;">
      <img id='image' width='1536' height='1536'/>
    </div>
    <div class="loader" style="display:none;"></div>
    <div class="error-msg" style="display:none;">
      <h1>Oops!</h1>
      <h3>Error procesando imagen</h3>
    </div>
  </div-->


  <div class="info-lateral">

    <!--div class="tab-block" id="tab-block">

      <ul class="tab-mnu">
        <li class="active">
          <h3>Tamaño</h3>
        </li>
        <li>
          <h3>Color</h3</li> </ul> <div class="tab-cont">
            <div class="tab-pane">
              <div id="size-graph" class="tab-graph" style="display:none;">
                <i id="btn-size-graph" class="material-icons tab-button">more_vert</i>
                <canvas id="chart-size"></canvas>
              </div>
   
              <div id="size-info" class="tab-info" style="display:none;">
                <i id="btn-size-info" class="material-icons tab-button">more_vert</i>
                <div class="tab-spacer"></div>
                <section class="alert_elems_count">
                  <h3>Número de granos detectados insuficiente<br>para proceder a su análisis</h3>
                </section>

                <section class="property size-number" style="display:none;">
                  <h4>Granos detectadas</h4>
                  <p></p>
                </section>

                <section class="property size-media" style="display:none;">
                  <h4>Media Aritmética</h4>
                  <p></p>
                </section>

                <section class="property size-median" style="display:none;">
                  <h4>Mediana</h4>
                  <p></p>
                </section>

                <section class="property size-mode" style="display:none;">
                  <h4>Moda</h4>
                  <p></p>
                </section>

                <section class="property size-variance" style="display:none;">
                  <h4>Varianza</h4>
                  <p></p>
                </section>

                <section class="property size-deviation" style="display:none;">
                  <h4>Desviación standard</h4>
                  <p></p>
                </section>

                <section class="property size-min" style="display:none;">
                  <h4>Límite inferior</h4>
                  <p></p>
                </section>

                <section class="property size-max" style="display:none;">
                  <h4>Límite superior</h4>
                  <p></p>
                </section>

                <section class="property size-skewness" style="display:none;">
                  <h4>Asimetría</h4>
                  <p>14</p>
                </section>

                <section class="property size-kurtosis" style="display:none;">
                  <h4>Curtosis</h4>
                  <p></p>
                </section>

                <section class="property size-variation" style="display:none;">
                  <h4>Coeficiente de variación</h4>
                  <p></p>
                </section>
              </div>
            </div>

            <div class="tab-pane">
              <div id="colour-graph" class="tab-graph" style="display:none;">
                <i id="btn-colour-graph" class="material-icons tab-button">more_vert</i>
                <canvas id="chart-colour"></canvas>
              </div>

              <div id="colour-info" class="tab-info" style="display:none;">
                <i id="btn-colour-info" class="material-icons tab-button">more_vert</i>
                <div class="tab-spacer"></div>
                <section class="property colour-number" style="display:none;">
                  <h4>Granos detectadas</h4>
                  <p></p>
                </section>

                <section class="property colour-media" style="display:none;">
                  <h4>Media Aritmética</h4>
                  <p></p>
                </section>

                <section class="property colour-median" style="display:none;">
                  <h4>Mediana</h4>
                  <p></p>
                </section>

                <section class="property colour-mode" style="display:none;">
                  <h4>Moda</h4>
                  <p></p>
                </section>

                <section class="property colour-variance" style="display:none;">
                  <h4>Varianza</h4>
                  <p></p>
                </section>

                <section class="property colour-deviation" style="display:none;">
                  <h4>Desviación standard</h4>
                  <p></p>
                </section>

                <section class="property colour-min" style="display:none;">
                  <h4>Límite inferior</h4>
                  <p></p>
                </section>

                <section class="property colour-max" style="display:none;">
                  <h4>Límite superior</h4>
                  <p></p>
                </section>

                <section class="property colour-skewness" style="display:none;">
                  <h4>Asimetría</h4>
                  <p></p>
                </section>

                <section class="property colour-kurtosis" style="display:none;">
                  <h4>Curtosis</h4>
                  <p></p>
                </section>

                <section class="property colour-variation" style="display:none;">
                  <h4>Coeficiente de variación</h4>
                  <p></p>
                </section>
              </div>
            </div>

    </div>

  </div-->

    <div class="tabs" id="tab-block">
      <ul class="tabs-nav">
        <li><a href="#tab-1" tab-toggle="1">Area</a></li>
        <li><a href="#tab-2" tab-toggle="2" disabled="disabled">Dimensiones</a></li>
        <li><a href="#tab-3" tab-toggle="3" disabled="disabled">Clasificación</a></li>
        <li><a href="#tab-4" tab-toggle="4" disabled="disabled">Color</a></li>
      </ul>
      <div class="tabs-stage">
        <div id="tab-1" class="tab-child" data-tab="1">
          <div class="tab-child tab-pane">

            <div id="size-graph" class="tab-graph" style="display:none;">
              <i id="btn-size-graph" class="material-icons tab-button">more_vert</i>
              <canvas id="chart-size"></canvas>
            </div>

            <div id="size-info" class="tab-info">

              <div class="alert_elems_count" style="display:none;">
                <h3>Número de granos detectados insuficiente<br>para proceder a su análisis</h3>
              </div>

              <i id="btn-size-info" class="material-icons tab-button">more_vert</i>
              <div class="tab-spacer"></div>

              <section class="property size-number" style="display:none;">
                <h4>Granos detectadas</h4>
                <p>100</p>
              </section>

              <section class="property size-media" style="display:none;">
                <h4>Media Aritmética</h4>
                <p>20</p>
              </section>

              <section class="property size-median" style="display:none;">
                <h4>Mediana</h4>
                <p>20</p>
              </section>

              <section class="property size-mode" style="display:none;">
                <h4>Moda</h4>
                <p>20</p>
              </section>

              <section class="property size-variance" style="display:none;">
                <h4>Varianza</h4>
                <p>20</p>
              </section>

              <section class="property size-deviation" style="display:none;">
                <h4>Desviación standard</h4>
                <p>20</p>
              </section>

              <section class="property size-min" style="display:none;">
                <h4>Límite inferior</h4>
                <p>20</p>
              </section>

              <section class="property size-max" style="display:none;">
                <h4>Límite superior</h4>
                <p>20</p>
              </section>

              <section class="property size-skewness" style="display:none;">
                <h4>Asimetría</h4>
                <p>14</p>
              </section>

              <section class="property size-kurtosis" style="display:none;">
                <h4>Curtosis</h4>
                <p></p>
              </section>

              <section class="property size-variation" style="display:none;">
                <h4>Coeficiente de variación</h4>
                <p></p>
              </section>
            </div>

          </div>

          <div class="tab-child tab-image">
            <div id="pic1"></div>
            <div class='square-image'>
              <!--canvas id='image-size' width='1536' height='1536'></canvas-->
              <canvas id='image-size'></canvas>
              <div class="loader" style="display:none;"></div>
              <div class="error-msg" style="display:none;">
                <h1>Oops!</h1>
                <h3>Error procesando imagen</h3>
              </div>
            </div>
          </div>

        </div>

        <div id="tab-2" class="tab-child" data-tab="2">
          <div class="tab-child tab-pane">

            <div id="ratio-graph" class="tab-graph" style="display:none;">
              <i id="btn-ratio-graph" class="material-icons tab-button">more_vert</i>
              <canvas id="chart-ratio"></canvas>
            </div>

            <div id="ratio-info" class="tab-info">

              <div class="alert_elems_count" style="display:none;">
                <h3>Número de granos detectados insuficiente<br>para proceder a su análisis</h3>
              </div>

              <i id="btn-ratio-info" class="material-icons tab-button">more_vert</i>
              <div class="tab-spacer"></div>

              <section class="property ratio-number" style="display:none;">
                <h4>Granos detectadas</h4>
                <p></p>
              </section>

              <section class="property ratio-media" style="display:none;">
                <h4>Media Aritmética</h4>
                <p></p>
              </section>

              <section class="property ratio-median" style="display:none;">
                <h4>Mediana</h4>
                <p></p>
              </section>

              <section class="property ratio-mode" style="display:none;">
                <h4>Moda</h4>
                <p></p>
              </section>

              <section class="property ratio-variance" style="display:none;">
                <h4>Varianza</h4>
                <p></p>
              </section>

              <section class="property ratio-deviation" style="display:none;">
                <h4>Desviación standard</h4>
                <p></p>
              </section>

              <section class="property ratio-min" style="display:none;">
                <h4>Límite inferior</h4>
                <p></p>
              </section>

              <section class="property ratio-max" style="display:none;">
                <h4>Límite superior</h4>
                <p></p>
              </section>

              <section class="property ratio-skewness" style="display:none;">
                <h4>Asimetría</h4>
                <p></p>
              </section>

              <section class="property ratio-kurtosis" style="display:none;">
                <h4>Curtosis</h4>
                <p></p>
              </section>

              <section class="property ratio-variation" style="display:none;">
                <h4>Coeficiente de variación</h4>
                <p></p>
              </section>
            </div>

          </div>

          <div class="tab-child tab-image">
            <div class='square-image'>
              <img id='image-ratio' />
              <div class="loader" style="display:none;"></div>
              <div class="error-msg" style="display:none;">
                <h1>Oops!</h1>
                <h3>Error procesando imagen</h3>
              </div>
            </div>
          </div>
        </div>

        <div id="tab-3" class="tab-child" data-tab="3">
          <div class="tab-child tab-pane">

            <div id="sieve-graph" class="tab-graph" style="display:none;">
              <i id="btn-sieve-graph" class="material-icons tab-button">more_vert</i>
              <canvas id="chart-sieve"></canvas>
            </div>

            <div id="sieve-info" class="tab-info">

              <div class="alert_elems_count" style="display:none;">
                <h3>Número de granos detectados insuficiente<br>para proceder a su análisis</h3>
              </div>

              <i id="btn-sieve-info" class="material-icons tab-button">more_vert</i>
              <div class="tab-spacer"></div>

              <section class="property sieve-number" style="display:none;">
                <h4>Granos detectadas</h4>
                <p>100</p>
              </section>

              <section class="property sieve-media" style="display:none;">
                <h4>Media Aritmética</h4>
                <p>20</p>
              </section>

              <section class="property sieve-median" style="display:none;">
                <h4>Mediana</h4>
                <p>20</p>
              </section>

              <section class="property sieve-mode" style="display:none;">
                <h4>Moda</h4>
                <p>20</p>
              </section>

              <section class="property sieve-variance" style="display:none;">
                <h4>Varianza</h4>
                <p>20</p>
              </section>

              <section class="property sieve-deviation" style="display:none;">
                <h4>Desviación standard</h4>
                <p>20</p>
              </section>

              <section class="property sieve-min" style="display:none;">
                <h4>Límite inferior</h4>
                <p>20</p>
              </section>

              <section class="property sieve-max" style="display:none;">
                <h4>Límite superior</h4>
                <p>20</p>
              </section>

              <section class="property sieve-skewness" style="display:none;">
                <h4>Asimetría</h4>
                <p>14</p>
              </section>

              <section class="property sieve-kurtosis" style="display:none;">
                <h4>Curtosis</h4>
                <p></p>
              </section>

              <section class="property sieve-variation" style="display:none;">
                <h4>Coeficiente de variación</h4>
                <p></p>
              </section>
            </div>

          </div>

          <div class="tab-child tab-image">
            <!--div id="pic1"></div-->
            <div class='square-image'>
              <img id='image-sieve' width='1536' height='1536'></canvas>
              <div class="loader" style="display:none;"></div>
              <div class="error-msg" style="display:none;">
                <h1>Oops!</h1>
                <h3>Error procesando imagen</h3>
              </div>
            </div>
          </div>

        </div>


        <div id="tab-4" class="tab-child" data-tab="4">

          <div class="tab-child tab-pane">

            <div id="colour-graph" class="tab-graph" style="display:none;">
              <i id="btn-colour-graph" class="material-icons tab-button">more_vert</i>
              <canvas id="chart-colour"></canvas>
            </div>

            <div id="colour-info" class="tab-info">

              <div class="alert_elems_count" style="display:none;">
                <h3>Número de granos detectados insuficiente<br>para proceder a su análisis</h3>
              </div>

              <i id="btn-colour-info" class="material-icons tab-button">more_vert</i>
              <div class="tab-spacer"></div>

              <section class="property colour-number" style="display:none;">
                <h4>Granos detectadas</h4>
                <p></p>
              </section>

              <section class="property colour-media" style="display:none;">
                <h4>Media Aritmética</h4>
                <p></p>
              </section>

              <section class="property colour-median" style="display:none;">
                <h4>Mediana</h4>
                <p></p>
              </section>

              <section class="property colour-mode" style="display:none;">
                <h4>Moda</h4>
                <p></p>
              </section>

              <section class="property colour-variance" style="display:none;">
                <h4>Varianza</h4>
                <p></p>
              </section>

              <section class="property colour-deviation" style="display:none;">
                <h4>Desviación standard</h4>
                <p></p>
              </section>

              <section class="property colour-min" style="display:none;">
                <h4>Límite inferior</h4>
                <p></p>
              </section>

              <section class="property colour-max" style="display:none;">
                <h4>Límite superior</h4>
                <p></p>
              </section>

              <section class="property colour-skewness" style="display:none;">
                <h4>Asimetría</h4>
                <p></p>
              </section>

              <section class="property colour-kurtosis" style="display:none;">
                <h4>Curtosis</h4>
                <p></p>
              </section>

              <section class="property colour-variation" style="display:none;">
                <h4>Coeficiente de variación</h4>
                <p></p>
              </section>
            </div>

          </div>

          <div class="tab-child tab-image">
            <div class='square-image'>
              <img id='image-colour' />
              <div class="loader" style="display:none;"></div>
              <div class="error-msg" style="display:none;">
                <h1>Oops!</h1>
                <h3>Error procesando imagen</h3>
              </div>
            </div>
          </div>

        </div>

      </div>
    </div>

  </div>

  <div class="bottom-footer">
    <h6>NeuralLab</h6>
    <div class="command-buttons">
      <a href="#" class="fa fa-instagram"></a>
      <a href="#" class="fa fa-twitter"></a>
    </div>
  </div>

  <div class="modal-wrapper" id="imagesModal">
    <div class="modal">
      <div class="head">
        <div>
          <h4>Seleccione una imagen para iniciar</h4>
        </div>
        <!--span onclick="closeModal()" class="btn-close trigger">&times;</span-->
        <div class="btn-close-spacer">
          <a class="btn-close" href="javascript:;"></a>
        </div>
      </div>
      <div class="content">
        <div class="img-test-group">
          <img class="img-test" src="http://placehold.it/500x500" alt="img_test1" width="86px" height="86px"
            onclick="predictDemo(this)">
          <img class="img-test" src="http://placehold.it/500x500" alt="img_test2" width="86px" height="86px"
            onclick="predictDemo(this)">
          <img class="img-test" src="http://placehold.it/500x500" alt="img_test3" width="86px" height="86px"
            onclick="predictDemo(this)">
          <img class="img-test" src="http://placehold.it/500x500" alt="img_test4" width="86px" height="86px"
            onclick="predictDemo(this)">
        </div>

        <div class="img-test-group">
          <img class="img-test" src="http://placehold.it/500x500" alt="img_test1" width="86px" height="86px"
            onclick="predictDemo(this)">
          <img class="img-test" src="http://placehold.it/500x500" alt="img_test2" width="86px" height="86px"
            onclick="predictDemo(this)">
          <img class="img-test" src="http://placehold.it/500x500" alt="img_test3" width="86px" height="86px"
            onclick="predictDemo(this)">
          <img class="img-test" src="http://placehold.it/500x500" alt="img_test4" width="86px" height="86px"
            onclick="predictDemo(this)">
        </div>
      </div>
    </div>
  </div>
</body>

<footer>
  <script>
    function onOpenCvReady() {
      console.log('OpenCV Ready', cv);
      //active button on load
      //$('#imageUpload').prop("disabled",true);
      document.querySelector('.btn-text').disabled = false;
      document.getElementById('imageUpload').disabled = false;
    }
  </script>
  <!--script src="https://huningxin.github.io/opencv.js/build/asm.js/opencv.js" async></script-->
  <!--script async src="{{ url_for('static', filename='js/opencv.js') }}" type="text/javascript"></script-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
  <!--script src="/js/panzoom.js"></script-->
  <!--script src="{{ url_for('static', filename='js/pinch-zoom-canvas.js') }}" type="text/javascript"></script-->
  <script src='https://unpkg.com/panzoom@8.0.0/dist/panzoom.min.js'></script>
  <script src="{{ url_for('static', filename='js/wheelzoom.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='js/geom-utils.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='js/convex-hull.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='js/smallest-enclosing.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='js/vector.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='js/ombb.js') }}" type="text/javascript"></script>
  <script src="{{ url_for('static', filename='js/convexhull.js') }}" type="text/javascript"></script>
  <!--script src='https://npmcdn.com/@turf/turf/turf.min.js'></script-->
  <script src="https://unpkg.com/simple-statistics@7.0.2/dist/simple-statistics.min.js" type="text/javascript"></script>
  <script async src="https://docs.opencv.org/3.4/opencv.js" onload="onOpenCvReady();" type="text/javascript"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/gpu.js/1.10.4/gpu.min.js"></script>
  <!--script src="{{ url_for('static', filename='js/skelotonization.js') }}" type="text/javascript"></script-->
  <script src="{{ url_for('static', filename='js/main.js') }}" type="text/javascript"></script>
</footer>

</html>